<div class="product-box">
    <div class="left-container">
      <article>
        <h1>Product Title 1</h1>
        <strong>Starting at $500</strong>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rhoncus sem tortor, sed gravida lacus efficitur et. Proin in dictum velit. Suspendisse fringilla mauris nibh, sed dapibus nisi viverra non. Nam posuere nisi nisi, vitae imperdiet libero congue vitae. Phasellus suscipit, neque quis condimentum dictum, risus leo accumsan mi, sit amet vestibulum massa enim at urna. Duis luctus nulla eu congue porta. Cras rhoncus, felis quis iaculis vulputate, magna lacus blandit dolor, quis laoreet turpis ante non elit. Ut et feugiat eros. Ut suscipit orci diam, eget pellentesque leo consequat ut. Sed euismod ornare ex quis ullamcorper. Sed vehicula sapien vitae mauris mollis, non porttitor elit molestie. Maecenas pretium hendrerit felis, ut suscipit magna eleifend sit amet. Integer ornare finibus nisi blandit fringilla.
          <br><br>
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam condimentum efficitur justo sed scelerisque. Aliquam commodo erat ligula, ac dignissim lacus pulvinar ut. Phasellus efficitur id lacus sit amet commodo. Donec et mauris congue, vulputate lectus quis, viverra erat. Nulla velit augue, convallis eu egestas sit amet, scelerisque in dolor. Quisque cursus, nibh sed cursus semper, odio leo ornare quam, sed mollis neque massa at velit. Nunc quis libero suscipit, iaculis mauris sed, tincidunt purus. Duis eu tincidunt risus. Praesent nec rutrum massa, sit amet placerat lacus. Suspendisse vitae ex placerat, scelerisque eros vitae, elementum purus. Vivamus finibus nisl nec tincidunt feugiat.
        </p>
        <a href="#" class="buy">Buy Now <%= image_tag("arrow-btn-white.png", :alt => "buy-arrow") %></a>

      </article>
    </div>
    <div class="right-container">
        <div class="half-containers">
          <a href="#"><%= image_tag("close.png", :alt => "close") %></a>
          <%= image_tag("cereal_b.jpg", :alt => "cereal") %>
        </div>

        <div class="half-containers">
        </div>
    </div>
</div>
